body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 20px;
}

nav#navbar {
    display: flex;
    justify-content: space-around;
}

nav#navbar .nav-link {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

nav#navbar .nav-link:hover {
    background: #555;
}

section {
    padding: 20px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.services{
    min-height: 90vh;
    padding-bottom: 7rem;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Keeps two columns */
    grid-gap: 20px; /* Adjust the gap between boxes as needed */
    justify-items: center; /* Centers the boxes in their grid cells */
}

.services-container .services-box {
    max-width: 90%; /* Adjust the maximum width of the boxes */
    margin: 20px; /* Adjust margin for spacing around the boxes */
    background: #f5ebeb;
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    box-shadow: 0 .1rem .5rem #ccc; /* Adjusted shadow color for visibility */
    text-align: center;
    border-top: .6rem solid #be6f81;
    border-bottom: .6rem solid #48a5df;
    cursor: pointer;
    transition: transform .3s ease, box-shadow .3s ease; /* Smooth transition */
}

.services-box:hover {
    box-shadow: 0 .1rem 2rem #48a5df;
    transform: scale(1.02);
}

.services-box i {
    font-size: 7rem;
    color: #484848;
}

.services-box h3 {
    font-size: 2.6rem;
    transition: .5s ease;
}

.services-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
} 

.services {
    min-height: 90px;
    padding-bottom: 7rem;
}

.services-box:hover h3 {
    color: #d785c3;
} 
